body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.intro {
  display: flex;
  color: white;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://www.roberthalf.com/sites/default/files/styles/full_width_content_image_1x_small_480/public/2018-05/Hire%20the%20right%20programmer.jpg?itok=tji08dRp");
  background-size: cover;
}

.typing {
  position: relative;
  margin-left: 10px;
}

.typing::after {
  content: "";
  position: absolute;
  right: -5px;
  width: 1px;
  height: 5%;
  border-right: 2px solid teal;
  animation: blink 0.5s infinite ease;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
